.container{
    height: 695px;
    /* width: 100%; */
    background-image: url('../assets/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}
h2{
    font-size: 2rem;
    font-weight: 700;
  
}
h5{
    font-size: 1.75rem;
    font-weight: 400;
}
.noukat{
    margin-top: 12%;
    display: flex;
    gap: 30px;
}
button{
    width: 17%;
    height: 10%;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
img{
    cursor: pointer;
}
.noukatKhol{
    display: none;
}